{% extends 'app_med_kit/med_kit_base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}
{% block content %}
<h1>Hello, {{ user.username }}</h1>

<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

<hr>
<h2>Your Kits</h2>
<div class="kit-grid">
  {% for kit in kits %}
    <a href="{% url 'manage_kit' kit.id %}" class="kit-card">
      <h3>{{ kit.name }}</h3>
      {% if kit.description %}
        <p>{{ kit.description }}</p>
      {% endif %}
      <ul>
        {% for drug in kit.drugs.all|slice:":3" %}
          <li>{{ drug.name }} ({{ drug.number }})</li>
        {% endfor %}
        {% if kit.drugs.count > 3 %}
          <li>...and more</li>
        {% endif %}
      </ul>
    </a>
  {% empty %}
    <p>You have no kits yet.</p>
  {% endfor %}
</div>

<hr>
<a href="?add_kit=1"><button {% if show_form %}disabled{% endif %}>Add Kit</button></a>

{% if show_form %}
<div class="form-container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Confirm</button>
        <a href="{% url 'dashboard' %}"><button type="button">Cancel</button></a>
    </form>
</div>
{% endif %}
{% endblock %}
